{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <form action="" method="POST" class="row">
        <table border="1px" align="center" width="40%" cellspacing="10" cellpadding="10">
            <tr>
                <td>
                    Log in
                </td>
            </tr>
            <tr>
                <td><img src="static/user.png" alt=""><input type="text" placeholder="user name"></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="password"></td>
            </tr>
            <tr>
                <td><button>Sign in </button></td>
            </tr>

        </table>
    </form>

</body>

</html>